<div class="wrapper footer__content">
    <picture class="footer__logo">
        <source media="(min-width: 960px)" srcset="../../img/footer-logo-desktop.png">
        <img src="../../img/footer-logo-tablet.png" alt="" class="footer__logo">
    </picture>

    <div class="footer__social social">
        <a href="#" class="social__link"><img src="../../img/twitter.png" class="social__icon"></a>
        <a href="#" class="social__link social__link--facebook"><img src="../../img/facebook.png" class="social__icon" alt=""></a>
        <a href="#" class="social__link"><img src="../../img/youtube.png" class="social__icon" alt=""></a>
    </div>
    <div class="footer__htmlacademy">
        <div class="footer__developed">Разработано</div>
        <img src="../../img/htmlacademy.png" alt="" class="footer__academy-icon">
    </div>
</div>