<ul class="hero__menu menu">
    <div class="menu__content">
        <li class="menu__item menu__item--top menu__item--first">
            <div class="wrapper wrapper--menu">
                <picture>
                    <source media="(min-width: 1200px)" srcset="../../img/logo-desktop.png">
                    <source media="(min-width: 660px)" srcset="../../img/logo-tablet.png">
                    <img src="../../img/logo-mobile.png" alt="logo" class="menu__logo">
                </picture>

                <img src="../../img/close.png" alt="" class="menu__close-icon">
                <img src="../../img/open.png" alt="" class="menu__open-icon">
            </div>
        </li>
        <li class="menu__item menu__item--second">
            <a href="/" class="menu__link">Главная</a>
        </li>
        <li class="menu__item menu__item--third">
            <a href="" class="menu__link">Фотографии</a>
        </li>
        <li class="menu__item menu__item--fourth">
            <a href="/form.html" class="menu__link">Конкурс</a>
        </li>
        <li class="menu__item menu__item--fifth">
            <a href="" class="menu__link">HTML Academy</a>
        </li>
    </div>
</ul>