.achievements-form-section {
    grid-row-gap: 42px;
    &__field {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    &__wrapper-checkbox {
        grid-column: 1/2;
    }

    @media(min-width: $tablet) {
        padding: 55px 60px 50px 60px;
    }
}