.application-form-section {
    grid-row-gap: 36px;
    &__field {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    &__radio-wrapper {
        grid-column: 1/2;
        width: 39px;
        height: 39px;
    }

    @media(min-width: $tablet) {
        padding: 55px 60px 55px 60px;
    }
}