.break {
    &\--desktop {
        display: none;
    }
    @media(min-width: $tablet) {
        &\--mobile {
            display: none;
        }
        &\--tablet {
            display: none;
        }
    }
    @media(min-width: $desktop) {
        &\--desktop {
            display: initial;
        }
    }
}