.checkbox {
    position: relative;
    height: 39px;
    width: 39px;

    &__input {
        width: 39px;
        height: 39px;
        opacity: 0;
        z-index: 2;
        margin: 0;
        position: relative;
    }

    &__input:hover ~ &__decorator {
        border-color: $deep-blue;
    }

    &__input:active ~ &__decorator {
        border-color: $red;
    }

    &__decorator {
        width: 39px;
        height: 39px;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #e5e5e5;
        background-color: white;
    }

    &__input:checked~&__check {
        position: absolute;
        border-right: 1px solid $red;
        border-bottom: 1px solid $red;
        width: 8px;
        height: 20px;
        transform: rotate(45deg);
        top: 8px;
        left: 15px;
        z-index: 1;
    }
}