.contacts {
    padding-top: 50px;
    padding-bottom: 14px;

    &__header {
        margin-bottom: 40px;
    }
    &__text {
        margin-top: 5px;
        color: #d22856;
    }
    &__item {
        margin-bottom: 25px;
    }
}