.description {
    padding-top: 80px;
    
    &__content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;  
      align-items: center;

    }

    &__header {
        margin-bottom: 12px;
    }

    &__item {
        margin-bottom: 34px;
    }

    &__img\--third {
        height: 278px;
        width: 157px;
        margin-top: auto;
        background-image: url("../img/phone-third-mobile.png");
        background-repeat: no-repeat;
        background-position: center top;
    }

    @media(min-width: $tablet) {
        padding-top: 0;

        &__content {
            display: grid;
            grid-template-columns: 20px 1fr 1fr 10px 10px 1fr 1fr 20px;
            grid-template-rows: 75px 140px 140px 125px;

        }
        

        &__img\--first, &__img\--second  {
            display: none;
        }

        &__item {
            margin-bottom: 0;
            grid-column: 5/8;
            align-self: start;

            &\--first {
                grid-row: 2/3;
            }
            &\--second {
                grid-row: 3/4;
            }

            &\--third {
                grid-row: 4/5;
            }
        }

        &__header {
            text-align: left;
        }
        &__text {
            text-align: left;
        }

        &__img\--third {
            height: 480px;
            width: 268px;
            background: url("../img/phone-screen-tablet.png") 50% 100% no-repeat, url("../img/phone-third-tablet.png") 50% 0% no-repeat;
            grid-area: 1/1/5/9;
            z-index: 2;
            align-self: end;
            justify-self: start;
        }

    }
    @media(min-width: $desktop) {
        &__content {
            @include desktop-grid;
            grid-template-rows: 300px 56px 200px 52px;
        }
        &__img {
            width: 186px;
            height: 300px;
            grid-row: 1/2;
            z-index: 3;
        }

        &__img\--first {
            grid-column: 2/4;
            justify-self: start;
            display: block;
            background: url("../img/phone-screen-grey-desktop.png") 8.5px 45px no-repeat, url("../img/phone-first-second-third-desktop.png") 50% 0% no-repeat;
        }
        &__img\--second {
            grid-column: 4/6;
            justify-self: center;
            display: block;
            background: url("../img/phone-screen-red-desktop.png") 8.5px 45px no-repeat, url("../img/phone-first-second-third-desktop.png") 50% 0% no-repeat;
        }
        &__img\--third {
            justify-self: end;
            grid-column: 6/8;
            display: block;
            background: url("../img/phone-screen-smile-desktop.png") 8.5px 45px no-repeat, url("../img/phone-first-second-third-desktop.png") 50% 0% no-repeat;
        }

        &__item {
            
            grid-row: 3/4;
            max-width: 240px;
            &\--first {
                grid-column: 2/4;
                justify-self: start;
                margin-left: -20px;
            }
            &\--second {
                grid-column: 3/7;
                justify-self: center;
            }
            &\--third {
                grid-column: 6/8;
                justify-self: end;
                margin-right: -20px;
            }
        }

        &__text {
            text-align: center;
            line-height: 30px;
        }
        &__header {
            text-align: center;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 20px;
        }
    }
     
}