.describe-form-section {
    
    display: grid;

    &__textarea {
        width: 100%;
        height: 200px;
    }

    &__header {
        line-height: 30px;
    }

    @media(min-width: $tablet) {
        &__textarea {
            height: 190px;
        }
    }

    @media(min-width: $desktop) {
        &__textarea {
            height: 125px;
        } 
    }
}