.form {
    padding: 8px 0;

    &__section {
        @include mobile-grid;
        padding: 33px 0 44px 0;

        &\--first {
            padding-bottom: 0;
        }
        &\--grey {
            background-color: $grey;
        }
    }

    &__field {

    }
    
    &__label {
        grid-column: 2/span 3;
    }

    &__input {
        height: 60px;
        width: 100%;
        padding-left: 20px;
        border: 2px solid #e5e5e5;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            line-height: 3;
            color: $deep-blue;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        grid-column: 2/span 4;
        color: $deep-blue;
        text-align: center;

        &\--uppercase {
            text-transform: uppercase;
        }
    }

    &__header {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        color: $red;
        text-align: center;
        padding-bottom: 8px;
        grid-column: 2/span 4;

        &\--left {
            text-align: left;
            padding-left: 20px;
            line-height: 30px;
        }

        &\--achievements, &\--application {
            line-height: 18px;
            padding-bottom: 0;
        }
    }

    &__label {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: $deep-blue;
    }

    &__bottom-section {
        @include mobile-grid;
        grid-template-rows: auto 36px auto;
        padding: 0 0 6px 0;

    }
    &__button {
        grid-area: 1/2/2/6;
    }
    &__required {
        grid-area: 3/2/4/6;
        justify-self: center;
    }
    &__red {
        color: $red;
    }
}