.menu {
    background-color: $deep-blue;
    overflow: hidden;
    
    &__item {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 63px;
        text-transform: uppercase;
        height: 0;
        width: 100%;
        background-color: $deep-blue;
        box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
        
    }
    &__item\--top {
        height: 70px;
        // opacity: 0.3;
    }
    &__link {
        color: #fff;
        text-decoration: none;
        height: 100%;
    }
    &__close-icon {
        display: none;
    }

    &\--open {
        
        & .menu__item:not(.menu__item\--top) {
            height: 63px;
        }

        & .menu__close-icon {
            display: block;
        }
        & .menu__open-icon {
            display: none;
        }
    }
}