.panorama {
    position: relative;
    margin-bottom: 20px;
    @include mobile-grid;
    
    &__img {
        width: 100%;
        height: auto;
    }

    &__img-wrapper {
        grid-column: 1/span 6;
        position: relative;
    }

    &__img-wrapper::after {
        content: "панорама дня";
        position: absolute;
        top: 0;
        right: 20px;
        height: 36px;
        width: 140px;
        text-transform: uppercase;
        color: white;
        background-color: $red;
        font-size: 12px;
        line-height: 36px;
        text-align: center;
    }

    &__info {
        grid-column: 2/span 4;
        margin-top: -2px; //to fix gap introduced by picture tag
        max-width: 940px;
    }

    @media(min-width: $tablet) {
        margin-bottom: 50px;
        
        &__img {
            height: 509px;
        }
        &__img-wrapper::after {
            top: 57px;
        }

        &__like-icon {
            order: 1;
            margin-left: auto;
        }

        &__info {
            margin: -2px auto 0 auto;
        }
    }
    @media(min-width: $desktop) {
        display: block;

        &__img-wrapper::after {
            right: calc(50% - 470px)
        }
    }
}