.photo-info {
    background-color: $grey;
    padding: 18px 17px 20px 17px;

    &__top {
        color: $deep-blue;
        padding-bottom: 10px;
    }

    &__bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__author {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
    }

    &__time {
        font-size: 12px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__like-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        color: $red;
        padding-right: 4px;
    }

    &__like-number {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        color: $red;
    }

    &__like-icon {
        padding-right: 20px;
    }

    @media(min-width: $tablet) {
        padding: 26px 27px 24px 27px;
        position: relative;

        &:not(&\--panorama) {
            height: 155px;
            display: flex;

            flex-direction: column;
            justify-content: space-between;

        }

        &__bottom\--panorama {
            position: absolute;
            width: calc(25% - 5px);
            right: 0;
            top: 26px;
        }

        &__top\--panorama {
            padding-bottom: 0;
        }

        &__like-icon {
            order: 1;
            margin-left: auto;
            padding-right: 0;

            &\--panorama {
                padding-right: 27px;
            }
        }

    }
}