.picture {
    background-image: url("../img/back-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;

    &__content {
        background: url("../img/phone-screen-hero-mobile.png") 50% 78%, url("../img/phone-hero-mobile.png") 93.5% 118%;
        background-repeat: no-repeat;
        background-size: auto, auto;
        height: 100%;
        width: 320px;
    }

    @media(min-width: $tablet) {
        background-image: url("../img/back-tablet.png");
        background-size: cover;
        background-position: center;
        justify-content: flex-end;

        &__content {
            background: url("../img/phone-screen-hero-tablet.png") 79% 62.2%, url("../img/phone-hero-tablet.png") 50% 100%;
            background-repeat: no-repeat;
            width: 660px;
        }
    }
}