.picture {
    background-image: url("../img/back-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;

    &\--form {
        display: grid;
        @include mobile-grid;
        grid-template-rows: auto 55px;
        align-items: end;
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
        color: white;
        grid-column: 2/span 4;
        grid-row: 1/2;
        text-align: center;
        line-height: 1.2;
    }

    &__content {
        background: url("../img/phone-screen-hero-mobile.png") 50% 78%, url("../img/phone-hero-mobile.png") 93.5% 118%;
        background-repeat: no-repeat;
        background-size: auto, auto;
        height: 100%;
        width: 320px;
    }

    @media(min-width: $tablet) {
        background-image: url("../img/back-tablet.png");
        background-size: cover;
        background-position: center;
        justify-content: flex-end;

        &__content {
            background: url("../img/phone-screen-hero-tablet.png") 79% 62.2%, url("../img/phone-hero-tablet.png") 50% 100%;
            background-repeat: no-repeat;
            width: 660px;
        }

        &\--form {
            grid-template-rows: auto 75px;
        }

        &__text {
            font-size: 50px;
            font-weight: 300;
        }
    }

    @media(min-width: $desktop) {
        background-image: url("../img/back-desktop.png");

        &__content {
            margin-right: auto;
            margin-left: auto;
            width: 900px;
            background: url("../img/phone-screen-hero-desktop.png") 85% 60%, url("../img/phone-hero-desktop.png") 0% 100%;
            background-repeat: no-repeat;
        }
    }
}