.section {
    &\--information {
        height: 217px;
    }
    &\--grey {
        background-color: $grey;
    }
    &\--description {
        height: 784px;
    }
    &\--triangle {
        z-index: 2;
        position: relative;
        &::after {
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            height: 10vw;
            width: 100vw;
            content: '';
            border-top: 10vw solid white;
            border-right: 100vw solid $grey;
            z-index: 10;
        }
    }
    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        color: $deep-blue;
        &\--big {
            font-size: 24px;
            font-weight: 300;
        }
    }
    &__header {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $deep-blue;
        text-align: center;
    }
}