.social {
    display: flex;
    justify-content: center;

    &__link {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #28364525;
        display: flex;
        align-items: center;
        justify-content: center;

        &\--facebook {
            margin-left: 15px;
            margin-right: 15px;
        }

        &:hover {
            border-color: $deep-blue;
        }

        &:active {
            border-color: #28364525;

            .social__icon {
                opacity: .3;
            }
        } 
    }
    @media(min-width: $tablet) {
        justify-content: space-between;
    }
}