.squire-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #2aab6d;
    color: white;
    border: 2px solid #2aab6d;
    display: block;

    &:hover {
        border: 2px solid #1c9b5e;
        background-color: #1c9b5e;
    }

    &:active {
        border: 2px solid #1c9b5e;
        background-color: #1c9b5e;
        outline: none;

        color: hsla(360, 100%, 100%, 0.3);
    }
}