.table {
    display: grid;
    grid-template-columns: repeat(3, 87.5vw);
    
    &__col {
        display: grid;
        grid-template-rows: 98px repeat(3, 60px);
        border-right: 2px solid #e5e5e5;
    }
    &__col\--with-features {
        display: none;
    }
    &__header {
        border: 2px solid $deep-blue;
        background-color: $deep-blue;
        text-align: center;
        border-bottom: 2px solid #e5e5e5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__row {
        background-color: white;
        padding-left: 22px;
        padding-right: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #e5e5e5;
    }

    @media(min-width: $tablet) {
        grid-template-columns: repeat(4, 1fr);

        &__col\--with-features {
            display: grid;
            justify-content: stretch;
            text-transform: none;
        }

       

        &__col {
            grid-template-rows: 80px repeat(3, 45px);
        }

        &__row {
            justify-content: center;
        }

        &__row\--pink {
            grid-row: 2/3; 
            padding-left: 15px;
            text-align: left;
            justify-content: flex-start;
            border-left: 2px solid #e5e5e5;
        }
        &__row\--smile {
            grid-row: 3/4;
            padding-left: 15px;
            text-align: left;
            justify-content: flex-start;
            border-left: 2px solid #e5e5e5;
        }
        &__row\--comments {
            grid-row: 4/5;
            padding-left: 15px;
            text-align: left;
            justify-content: flex-start;
            border-left: 2px solid #e5e5e5;
        }
    }
}