.upload {
    padding: 20px 20px 40px 20px;
    background-color: $grey;

    &__img {
        width: 100%;
        height: auto;
    }

    &__controls {
        padding: 42px 18px 30px 18px;
        position: relative;
    }

    &__controls::after {
        content: '';
        height: 1px;
        background-color: #dedfe1;
        position: absolute;
        left: -20px;
        right: -20px;
        top: 100%;
        z-index: 2;
    }

    &__icons {
        padding-bottom: 26px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__buttons {
        padding-top: 38px;
    }

    &__button {
        width: 100%;
    }

    &__button~&__button {
        margin-top: 12px;
    }

    &__icon {
        filter: grayscale(1);
        -webkit-filter: grayscale(.8) hue-rotate(-90deg);
        opacity: 0.3;

        &:hover {
            opacity: 0.5;
        }
    }

    @media(min-width: $tablet) {
        @include tablet-grid;
        padding: 57px 0 54px 0;

        &__photo-wrapper {
            grid-column: 2/span 2;
        }

        &__tab {
            grid-column: 6/span 2;
            padding: 0 4.3% 0 9%;
        }

        &__controls {
            height: 50%;
            display: flex;
            justify-content: space-between;
            padding: 0;

            &::after {
                display: none;
            }

        }

        &__buttons {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0;
        }

        &__sliders {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }

        &__slider-wrapper {
            border-bottom: 1px solid #dedfe1;
            height: 35%;
            width: 100%;
            display: flex;
            align-items: center;
            &:first-child {
                height: 30%;
            }
        }

        &__icons {
            display: flex;
            flex-direction: column;
            // justify-content: ;
            padding: 0;
            width: 20%;
        }

        &__icon {
            filter: none;
            opacity: 1;
            height: 22px;
            width: 22px;
        }

        &__icon-wrapper {
            border-bottom: 1px solid #dedfe1;
            height: 35%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:first-child {
                height: 30%;
            }
        }

        &__button~&__button {
            margin-top: 24px;
        }

    }
}